@use "../abstracts/mixins";
@use "../abstracts/variables";

/*===========
Global Styles
============*/

body {
  @include mixins.blackWhite;

  font-family: variables.$font-playfair;
  font-size: 5vw;

  ul {
    @include mixins.reset('margin', 'padding');
  }

  li {
    list-style-type: none;
  }

  a {
    cursor: pointer;
    color: variables.$color-white;

    @include mixins.linkHover;
  }

  address {
    font-style: normal;
  }

  // p {
  //   &:not(.project-description):not(.project-tools) {
  //     @include transition-1s;
  //   }
  // }

  // h4 {
  //   @include transition-1s;
  // }

}

.hidden {
  @include mixins.hide;
}

.content {
  padding: 2% 10% 10% 10%;
}

// .container:not(#header-container) {
//   @include transition-1s;
// }


/* Heading Styles */

.title-heading {
  font-size: 15vw;

}

.content-heading {
  font-size: 10vw;
  margin-top: 0;
  text-align: center;

  @include mixins.tablet {
    font-size: 8vw;
  }

  //@include transition-1s;
}

.sub-heading {
  font-size: 5vw;
  font-weight: 400;
  letter-spacing: -0.085rem;

  @include mixins.tablet {
    font-size: 4vw;
  }

  // &:not(#subtitle) {
  //   @include transition-1s;
  // }
}

.project-title {
  font-size: 5vw;
  font-weight: 700;

  @include mixins.tablet {
    font-size: 4vw;
  }
}

h4 {
  font-weight: 400;
}

.icon {
  max-width: 15vw;

  @include mixins.tablet {
    max-width: 10vw;
  }

  @include mixins.large-screen {
    max-width: 80px;
  }

  // &:not(#home-icon):not(#email-icon):not(#phone-icon) {
  //   @include transition-1s;
  // }
}

/* Text Accents */

.accent-pink {
  color: variables.$color-pink;
}

.accent-blue {
  color: variables.$color-blue;
}



/*=============
Max Fonts
==============*/

@include mixins.large-screen {
  //maximum fonts sizes at large breakpoint
  @include mixins.maxFonts(variables.$font-map);
};