.truncate {
	display: -webkit-box;
	line-clamp: 3;
	/* number of lines */
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@media (min-width: 769px) {
	.truncate {
		line-clamp: 5;
		/* number of lines */
		-webkit-line-clamp: 5;
	}
}