@use "functions";

/*===========
Variables
============*/

//colors
$color-white: #EEEEEE;
$color-black: #333333;
$color-pink: #FF61AD;
$color-blue: #00F0FF;
$color-orange: rgb(233, 166, 66);

//tool colors
$tool-map: (
    'html': #EAB361,
    'css': #2CBADA,
    'js': #DAC82C,
    'react': #6ACEE3,
		'typescript': #367ac4,
    'jquery': #2C5CDA,
    'bootstrap': #6d41f0,
    'scss': #CA7AB4,
    'figma': #333333,
    'photoshop': #153EA8,
    'macos': #656566,
    'vscode': #0C2C7D,
    'git': #D48D23,
		'sfcc': #459cd5,
		'storybook': #ec5785,
		'github': #202328,
		'bitbucket': #4185f7,
		'agile': #235db3,
		'scrum': #46586e,
		'kanban': #df8a93,
		'jira': #2f69d4,
		'ab': #8fb951,
		'ga': #e8a93b,
		'qm': #d42e5e,
		'mt': #8069a7,
		'sheets': #4da954
);

//gradients
$gradient-blue-pink: linear-gradient(90deg, #{$color-blue} 40%, #{$color-pink} 60%);
$gradient-pink-blue: linear-gradient(-90deg, #{$color-blue} 40%, #{$color-pink} 60%);

//fonts
$font-roboto: 'Roboto', sans-serif;
$font-playfair: 'Playfair Display', serif;

//max fonts
$font-map: (
    'body': functions.fontSize(28),
    '.title-heading': functions.fontSize(110),
    '.content-heading': functions.fontSize(75),
    '.sub-heading': functions.fontSize(35),
    '.project-title': functions.fontSize(30)
);

//breakpoints

$breakpoint-small: 375px;
$breakpoint-medium: 500px;
$breakpoint-large: 768px;
$breakpoint-x-large: 1000px;
$breakpoint-xx-large: 1300px;
$breakpoint-max-small: 499px;
$breakpoint-max-medium: 767px;
$breakpoint-max-large: 999px;
