@use "../abstracts/mixins";

/*===========
Index Styles
============*/

#index {
    //hide home button on home page
    .nav-link:first-child {
        visibility: hidden;
    }

    //reposition content for fade in on mobile/tablet
    .main-content {
        margin-top: -300px;

        @include mixins.mobile('landscape') {
            margin-top: inherit;
        }

        @include mixins.tablet {
            margin-top: -200px;
        }
        @include mixins.desktop {
            margin-top: inherit;
        }
    }

    .top-faded {
        opacity: 0;
    }

    #self-portrait-icon {
        width: 40vw;
        max-width: 200px;
    }
}