@use "../abstracts/mixins";

/*=============
Work Project Styles
==============*/

#work {
	padding-top: 50%;
	margin: 0 auto;
	width: 90%;

        @include mixins.mobileMax {
            padding-top: 30%;
        }

        @include mixins.large-screen {
            padding-top: 15%;
        }

        @include mixins.desktop {
            padding-top: 10%;
        }

	.work-project {
		&__bullet-list {
			padding: revert;

			li {
				list-style-type: disc;
			}
		}
	}
}