@use '@index' as *;

.ppd_neutral-900 {
	color: $neutral-900;
}

.ppd_neutral-700 {
	color: $neutral-700;
}

.ppd_neutral-500 {
	color: $neutral-500;
}

.ppd_neutral-200 {
	color: $neutral-200;
}

.ppd_neutral-50 {
	color: $neutral-50;
}

.ppd_neutral-mid {
	color: $neutral-mid;
}

.ppd_red-900 {
	color: $red-900;
}

.ppd_red-700 {
	color: $red-700;
}

.ppd_red-500 {
	color: $red-500;
}

.ppd_red-200 {
	color: $red-200;
}

.ppd_red-50 {
	color: $red-50;
}

.ppd_yellow-900 {
	color: $yellow-900;
}

.ppd_yellow-700 {
	color: $yellow-700;
}

.ppd_yellow-500 {
	color: $yellow-500;
}

.ppd_yellow-200 {
	color: $yellow-200;
}

.ppd_yellow-50 {
	color: $yellow-50;
}

.ppd_blue-700 {
	color: $blue-700;
}

.ppd_blue-500 {
	color: $blue-500;
}

.ppd_blue-200 {
	color: $blue-200;
}

.ppd_green-700 {
	color: $green-700;
}

.ppd_green-500 {
	color: $green-500;
}

.ppd_green-200 {
	color: $green-200;
}