body {
   margin: 0;
   font-size: 7pt;
   font-family: tahoma;
   background: url('images/layout2-1long.png');
   color: #566872;
}

A:link {
   color: #bfa563;
   text-decoration: none;
   font-family: tahoma;
   text-transform: none;
   font-size: 8pt;
}

A:visited {
   color: #9f7573;
   text-decoration: none;
   font-family: tahoma;
   text-transform: none;
   font-size: 8pt;
}

A:active {
   color: #e9b8b5;
}

A:hover {
   color: #e9b8b5;
   text-decoration: none;
   font-family: tahoma;
   text-transform: none;
   font-size: 8pt;
}

h1 {
   color: #af6164;
   font-family: tahoma;
   font-size: 12pt;
   font-weight: bold;
   letter-spacing: 2pt;
   text-transform: uppercase;
   display: block;
   text-align: left;
}

.bighead {
   font-size: 14pt;
   font-family: "Times New Roman";
   color: #3b3b3a;
   letter-spacing: 5pt;
}

.linkhead {
   font-size: 8pt;
   font-family: arial;
   color: #895c85;
}

#content {
   left: 92px;
   width: 534px;
   top: 475px;
   position: absolute;
   z-index: 1;
}

#nav {
   z-index: 1;
   left: 130px;
   width: 475px;
   position: absolute;
   top: 375px;
   height: 105px;
}

#main {
   z-index: 1;
   left: 40px;
   position: absolute;
   top: 0;
}

img.transOFF {}
img.transON {opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.5;}
img.trans25 {opacity:.25;filter: alpha(opacity=25); -moz-opacity: 0.25;}
img.trans75 {opacity:.75;filter: alpha(opacity=75); -moz-opacity: 0.75;}
img.trans50 {opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.50;}
