// Font Families
$font-family-base: 'Inter', sans-serif;

// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;

// Typography Tokens (rem-based)
$text-display-xl-font-size: 2.25rem; // 36px
$text-display-xl-line-height: 2.75rem; // 44px

$text-heading-lg-font-size: 1.5rem; // 24px
$text-heading-lg-line-height: 2rem; // 32px

$text-heading-md-font-size: 1rem; // 16px
$text-heading-md-line-height: 1.5rem; // 24px

$text-body-md-font-size: 0.875rem; // 14px
$text-body-md-line-height: 1.25rem; // 20px

$text-label-sm-font-size: 0.6875rem; // 11px
$text-label-sm-line-height: 1rem; // 16px

$text-button-md-font-size: 0.875rem; // 14px
$text-button-md-line-height: 1.25rem; // 20px