@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";

/*==============
Toolbox
===============*/

#tools {

    .tool-box {
        @include mixins.boxStyles(30%);
        @include mixins.fontWhite;
        margin: 1%;
        overflow: hidden;

        @include mixins.mobileMax {
            max-width: 100px;
            padding-bottom: 100px;
        }
    }

    @include mixins.colorTools(variables.$tool-map);

    .tool-symbol {
        @include mixins.boxSymbols(15vw);
        top: 5%;

        @include mixins.mobileMax {
            font-size: functions.fontSize(55);
        }
    }

    .tool-name {
        @include mixins.boxNames(3.5vw);
        bottom: 10%;

        @include mixins.mobileMax {
            font-size: functions.fontSize(14);
        }
    }
        //irregular boxes
        #vscode-box > b {
            top: 15%;
            font-size: 11vw;

            @include mixins.mobileMax {
                font-size: functions.fontSize(40);
            }
        }
}

/*==============
Linkbox
===============*/

.link-box {
    @include mixins.boxStyles(20%);
    @include mixins.whiteBlack;

    @include mixins.mobileMax {
        margin: 1% 1% 10% 1%;
    }

    @include mixins.tablet {
        max-width: 75px;
        padding-bottom: 75px;
    }
}

    .link-symbol {
        @include mixins.boxSymbols(10vw);
        top: 15%;

        @include mixins.mobileMax {
            font-size: functions.fontSize(36);
        }

        @include mixins.tablet {
            top: 25%;
        }
    }

    .link-name {
        @include mixins.boxNames(3.5vw);
        bottom: -35%;
        @include mixins.fontBlack;
        text-decoration: underline;

        @include mixins.linkHover;

        @include mixins.mobileMax {
            font-size: functions.fontSize(14);
        }
    }