/*==============
Toolbox
===============*/

#tools {

    .tool-box {
        @include boxStyles(30%);
        @include fontWhite;
        margin: 1%;
        overflow: hidden;

        @include mobileMax {
            max-width: 100px;
            padding-bottom: 100px;
        }
    }

    @include colorTools($tool-map);

    .tool-symbol {
        @include boxSymbols(15vw);
        top: 5%;

        @include mobileMax {
            font-size: fontSize(55);
        }
    }

    .tool-name {
        @include boxNames(3.5vw);
        bottom: 10%;

        @include mobileMax {
            font-size: fontSize(14);
        }
    }
        //irregular boxes
        #vscode-box > b {
            top: 15%;
            font-size: 11vw;

            @include mobileMax {
                font-size: fontSize(40);
            }
        }
}

/*==============
Linkbox
===============*/

.link-box {
    @include boxStyles(20%);
    @include whiteBlack;

    @include mobileMax {
        margin: 1% 1% 10% 1%;
    }

    @include tablet {
        max-width: 75px;
        padding-bottom: 75px;
    }
}

    .link-symbol {
        @include boxSymbols(10vw);
        top: 15%;

        @include mobileMax {
            font-size: fontSize(36);
        }

        @include tablet {
            top: 25%;
        }
    }

    .link-name {
        @include boxNames(3.5vw);
        bottom: -35%;
        @include fontBlack;
        text-decoration: underline;

        @include linkHover;

        @include mobileMax {
            font-size: fontSize(14);
        }
    }