@use "../abstracts/mixins";
@use "../abstracts/variables";

/*=================
Project Thumbnails
==================*/

#work-thumbnail-preview {
    //mobile portratit
    @include mixins.thumbMobilePortrait('../images/thumbnails/work/thumbnail-phone-work.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/work/thumbnail-phone-landscape-work.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/work/thumbnail-tablet-work.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/work/thumbnail-large-work.jpg');

}

#rawr-thumbnail-preview {
    //mobile portratit
    @include mixins.thumbMobilePortrait('../images/thumbnails/rawr/thumbnail-phone-rawr.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/rawr/thumbnail-phone-landscape-rawr.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/rawr/thumbnail-tablet-rawr.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/rawr/thumbnail-large-rawr.jpg');

}

#portfolio-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/portfolio/thumbnail-phone-portfolio.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/portfolio/thumbnail-phone-landscape-portfolio.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/portfolio/thumbnail-tablet-portfolio.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/portfolio/thumbnail-large-portfolio.jpg');

}

#product-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/product-mockup/thumbnail-phone-product-mock.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/product-mockup/thumbnail-phone-landscape-product-mock.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/product-mockup/thumbnail-tablet-product-mock.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/product-mockup/thumbnail-large-product-mock.jpg');
}

#robo-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/robo/thumbnail-phone-robo.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/robo/thumbnail-phone-landscape-robo.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/robo/thumbnail-tablet-robo.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/robo/thumbnail-large-robo.jpg');
}

#resumecss-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/resumecss/thumbnail-phone-resume.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/resumecss/thumbnail-phone-landscape-resume.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/resumecss/thumbnail-tablet-resume.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/resumecss/thumbnail-large-resume.jpg');

}

#jtodo-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/jtodo/thumbnail-phone-jtodo.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/jtodo/thumbnail-phone-landscape-jtodo.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/jtodo/thumbnail-tablet-jtodo.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/jtodo/thumbnail-large-jtodo.jpg');

}

#bootcamp-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/bootcamp/thumbnail-phone-bootcamp.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/bootcamp/thumbnail-phone-landscape-bootcamp.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/bootcamp/thumbnail-tablet-bootcamp.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/bootcamp/thumbnail-large-bootcamp.jpg');

}

#retro-thumbnail-preview {
    //mobile portrait
    @include mixins.thumbMobilePortrait('../images/thumbnails/retro/thumbnail-phone-retro.jpg');

    //mobile landscape
    @include mixins.thumbMobileLandscape('../images/thumbnails/retro/thumbnail-phone-landscape-retro.jpg');

    //tablet
    @include mixins.thumbTablet('../images/thumbnails/retro/thumbnail-tablet-retro.jpg');

    //large
    @include mixins.thumbLarge('../images/thumbnails/retro/thumbnail-large-retro.jpg');

}

.thumbnail-preview {

    height: 60vw;
    margin: 5% 0 10% 0;

    @include mixins.setBefore;

    @include mixins.setAfter;

    //mobile - portrait
    @include mixins.mobile('portrait') {

        top: 5%;

        &::before {
            background: variables.$color-black;
            top: 90%;
        }

        &::after {
            background: url('../images/icons/device-phone-icon.svg') no-repeat;
            height: 110%;
            top: -5%;
            left: 3%;
        }
    }

        //mobile - landscape {
        @include mixins.mobile('landscape') {

            height: 20vw;

            &::before {
                background: variables.$color-black;
                right: 96%;
            }

            &::after {
                background: url('../images/icons/device-phone-landscape-icon.svg') no-repeat;
                width: 120%;
                height: 107%;
                left: -4%;
            }
        }

    //tablet
    @include mixins.tablet {
        &::after {
            background: url('../images/icons/device-tablet-icon.svg') no-repeat;
            width: 110%;
            top: -5%;
            left: -5%;
        }
    }

    //large screen
    @include mixins.large-screen {
        height: 20vw;
        top: 10%;

        &::after {
            background: url('../images/icons/device-desktop-monitor-icon.svg') no-repeat;
            height: 125%;
        }
    }

    //desktop
    @include mixins.desktop {
        &::after {
            top: 5%;
        }
    }
}