html,body {
   font-size: 7pt;
   font-family: georgia;
   letter-spacing: 1px;
   background: #eeb607;
   background-image: url('dottylong1.png');
   background-repeat: repeat-y;
   background-attachment: fixed;
   background-position: 103px;
   color: #ede3a2;

   scrollbar-face-color:#E7D5A9;
   scrollbar-shadow-color:#E7D5A9;
   scrollbar-highlight-color:#E7D5A9;
   scrollbar-3dlight-color:#7F2F03;
   scrollbar-darkshadow-color:#7F2F03;
   scrollbar-track-color:#E7D5A9;
   scrollbar-arrow-color:#7F2F03;
   scrollbar-base-color:#E7D5A9;
}

A:link {color: #FDFDD3; font-family: times new roman; font-size: 10pt; text-decoration: none;}
A:visited {color: #F5CE17; font-family: times new roman; font-size: 10pt; text-decoration: none;}
A:active {color: #ffffff; text-decoration: none;}
A:hover {color: #ffffff; font-family: times new roman; font-size: 10pt; text-decoration: none; background: #241710; padding: 2px;}


b {
   border-left: 1px dotted;
   border-right: 1px dotted;
   color: #FFFA9E;
   padding: 1px;
}

b:hover {
   background: #A76122;
}


i {
   color: #EDB9A2;
}


u {
   border-bottom: 1px dotted;
   color: #FFFA9E;
}



select {
   background: #241710;
   color: #e7d5a9;
   font-family:  georgia;
   font-size: 9px; 
   text-align: left;
   letter-spacing: 1px;
   border-width: 1px;
   border-color: F9F9CD;
   border-style: dashed;
}

textarea {
   background: #241710;
   color: #e7d5a9;
   font-family:  georgia;
   font-size: 9px; 
   text-align: left;
   letter-spacing: 1px;
   padding-left: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-width: 1px;
   border-color: F9F9CD;
   border-style: dashed;
   width: 350px;
   height: 125px;
}

input {
   background: #241710;
   color: #e7d5a9;
   font-family:  georgia;
   font-size: 9px; 
   text-align: left;
   letter-spacing: 1px;
   border-width: 1px;
   border-color: F9F9CD;
   border-style: dashed;
   padding-left: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
}  


h1 {
   background: #241711 url('blacky.png') repeat;
   color: #e7d5a9;
   font-family: 'avant que...', georgia;
   font-size: 12px; 
   text-align: right;
   letter-spacing: -1px;
   text-transform: lowercase;
   height: 30px;
   padding-right: 5px;
   padding-top: 3px;
   border-width: 2px;
   border-color: F9F9CD;
   border-style: dashed;
}

h2 {
   background: #241711;
   padding: 2px;
   color: #e7d5a9;
   font-family: 'avant que...', palatino linotype;
   font-size: 12px; 
   text-align: center;
   text-transform: lowercase;
   letter-spacing: 1px;
   height: 25px;
}

h3 {
   background: #241710;
   color: #e7d5a9;
   font-family:  georgia;
   font-size: 9px; 
   text-align: left;
   letter-spacing: 1px;
   padding-left: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   border-width: 2px;
   border-color: F9F9CD;
   border-style: dashed;
   width: 125px;
   height: 100px;

   z-index: 2;
   position: absolute;
   left: 675px;
   top: 250px;
}

h3.transOFF {}
h3.transON {opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.5;}
h3.trans25 {opacity:.25;filter: alpha(opacity=25); -moz-opacity: 0.25;}
h3.trans75 {opacity:.75;filter: alpha(opacity=75); -moz-opacity: 0.75;}
h3.trans50 {opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.50;}

img.transOFF {}
img.transON {opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.5;}
img.trans25 {opacity:.25;filter: alpha(opacity=25); -moz-opacity: 0.25;}
img.trans75 {opacity:.75;filter: alpha(opacity=75); -moz-opacity: 0.75;}
img.trans50 {opacity:.50;filter: alpha(opacity=50); -moz-opacity: 0.50;}


#thumb {
   width: 300px;
   height: 50px;
   z-index: 2;
   position: absolute;
   text-align: right;
   top: 470px;
   left: 450px;
}



#content {
   left: 247px;
   width: 500px;
   top: 525px;
   position: absolute;
   z-index: 2;
}

#nav {
   z-index: 2;
   left: 30px;
   width: 140px;
   position: absolute;
   top: 200px;
   height: 800px;
}

#nav a:link, 
#nav a:active, 
#nav a:visited{
   display: block;
   padding: 1px;
   line-height: 16px;
   color: #ede3a2;

   background: #7f370f;
   text-transform: lowercase;
   font-family: 'century gothic', times new roman;
   text-align: center;
   letter-spacing: 3px;
}

#nav a:hover{
   color: #d9d3b1;
   background: #241711;
   text-align: center;
}


#main {
   left: 103px;
   top: 0px;
   position: absolute;
   z-index: 1;
}
