@use "../abstracts/mixins";
@use "../abstracts/variables";

.footer-content {
    padding: 2% 5% 5% 5%;

    @include mixins.tablet {
        font-size: 24px;

        .content-heading {
            font-size: 48px;
        }
    }

    .container {
        @include mixins.flexColCenter;
        margin-bottom: 10%;

        @include mixins.tablet {
            margin-bottom: 30px;
        }
    }

        .container:not(#social-profiles-container) {
            a,
            a:visited {
                @include mixins.fontBlack;
                @include mixins.linkHover;
            }
        }

        #social-profiles-container {
            flex-flow: row;
            justify-content: space-around;
            padding: 5% 10%;

            @include mixins.mobileMax {
                justify-content: center;
            }

            @include mixins.tablet {
                padding: 0;
            }
        }

    .contact-link {
        @include mixins.flexColCenter;
    }

    .icon {
        margin-bottom: 5%;
        width: 25%;
    }

        #email-icon {
            width: 15%;
        }

    //copyright
    small {
        display: flex;
        justify-content: flex-end;
        font-family: variables.$font-roboto;
        font-size: 14px;
    }
}

