@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";

/*===========
Navbar
============*/

.navbar {
  position: fixed;
  z-index: 2;
  width: 100vw;
  @include mixins.reset('top');
  @include mixins.whiteBlack;

  a,
  a:visited {
    @include mixins.fontWhite;
    text-decoration: none;
    text-align: center;
    @include mixins.linkHover;
  }

  //home
  .home-button {
    border: none;
    background-color: inherit;
  }
  .icon {
    width: 70%;
    min-width: 35px;
  }

  @include mixins.transition-mid;
}

  .navbar.hidden {
      @include mixins.transition-mid;
      left: 0;
      top: -85px;
      opacity: 1;
  };

.navigation {
  @include mixins.flexRow;
  min-height: 80px;

  font-size: functions.fontSize(20);
  font-weight: 700;

  @include mixins.setAfter;
  &::after {
    background-image: variables.$gradient-blue-pink;
    height: 5%;
    top: 100%;
  }

  .nav-link {
    @include mixins.flexRow;
    align-items: center;
    padding: 0 3%;
  }

    .nav-link:first-child {
      flex: 1;
    }

    //nav padding for x ios landscape
    @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {
      padding-left: 5%;
      padding-right: 5%;
    }

}