@use "../abstracts/mixins";
@use "../abstracts/variables";

/*================
Recent Projects
=================*/

#projects {
    @include mixins.flexColCenter;
    @include mixins.whiteBlack;

    > * {
        margin-bottom: 10%;
    }

    //bottom margin on project section heading
    @include mixins.desktop {
        @media (min-height: 25vw) {
            > .content-heading,
            > .icon {
                margin-bottom: 5%;
            }
        }
    }

    .project-container {
        @include mixins.flexRow;

        //mobile - portrait
        @include mixins.mobile {
            @include mixins.rowContainer;
        }

        //tablet
        @include mixins.tablet {
            @include mixins.rowContainer;
            max-height: 45vw;
        }

        //desktop
        @include mixins.desktop {
            min-width: 70vw;
            margin-bottom: 50px;

            @media (min-width: variables.$breakpoint-xx-large) {
                min-width: 50vw;
            }
        }

        //@include transition-1s;
    }

        .thumbnail-link {
            width: 100%;

            //mobile - portrait
            @include mixins.mobile('portrait') {
                @include mixins.rowCol-1;
            }

            //tablet
            @include mixins.tablet {
                @include mixins.rowCol-1;
            }
        }

        .project-description-container {

            //mobile - portrait
            @include mixins.mobile('portrait') {
                @include mixins.rowCol-2;
            }

            //tablet
            @include mixins.tablet {
                @include mixins.rowCol-2;
            }

            //desktop
            @include mixins.desktop {
                @include mixins.flexCol;
                justify-content: center;
            }
        }

            //project description
            .project-description {
                font-family: variables.$font-roboto;
                font-size: 4vw;

                @include mixins.tablet {
                    font-size: 3vw;
                }

                @include mixins.large-screen {
                    font-size: 24px;
                }
            }

            //description of tools
            .project-tools {
                font-family: variables.$font-roboto;
                font-size: 4vw;
                font-style: italic;

                @include mixins.tablet {
                    font-size: 3vw;
                }

                @include mixins.large-screen {
                    font-size: 24px;
                }
            }

            //project links container
            .project-link-container {
                display: flex;
                justify-content: space-around;
            }

                .source-link,
                .live-preview-link {
                    font-weight: 700;
                    padding: 2%;
                }

                    .source-link {
                        color: variables.$color-pink;

                        &:hover {
                            width: min-content;
                            margin-bottom: -2%;
                            background-color: variables.$color-pink;
                            color: variables.$color-black;
                        }
                    }

                    .live-preview-link {
                        color: variables.$color-blue;

                        &:hover {
                            width: min-content;
                            margin-bottom: -2%;
                            background-color: variables.$color-blue;
                            color: variables.$color-black;
                        }
                    }

    //@include transition-1s;
}