@use "../abstracts/mixins";

/*===========
Tools Section
=============*/

#tools {
    text-align: center;

    .sub-heading {
        font-weight: 700;
    }

    //@include transition-1s;
}

#tools > .container {
    @include mixins.flexRow;
    justify-content: center;

    abbr {
        text-decoration: none;
    }
}