/*=============
Safari
==============*/

/* note: affects Chrome iOS as well */
@media not all and (min-resolution:.001dpcm) {
    @media {

        /* Headings */
        .safari10-border-radius,
        h3.headings {
            border-radius: 0 !important;
        }

        /* Attempts */
        .pet-label-spans,
        .woof-labels {
            border-radius: 12px !important;
        }

        /*v1.1 tweak specificity and resolution*/

        @media (max-width: 699px) {
            #selections-container .collapsed .pet-label-spans::after { /* Pawfect Icon On Collpased Match Field */
                top: 0vw;
            }
        }

        @media (min-width: 700px) {
            #selections-container .collapsed .pet-label-spans::after { /* Pawfect Icon On Collpased Match Field */
                width: 33%;
                left: -8%;
                top: -12%;
            }
        }

        /* Navbar */
        #navbar > #message-container:not(.clicked) {
            -ms-flex-line-pack: start;
                align-content: start; /* Keeps message from overflowing */
        }
    }
}


/*==============
Firefox
===============*/


@-moz-document url-prefix() {
    /* Gap between reset buttons*/
    #reset-buttons-container {
       gap: 5vw;
    }
}