@use '@index' as *;

.ppd-button {
	@include focus-ring($yellow-900);
	@include text-button-md;
	border-radius: $radius-sm;
	border: 1px solid;
	padding: $spacing-sm $spacing-xl;
	box-shadow: $elevation-2;
	transition: border-color 0.15s ease, background-color 0.15s ease, box-shadow 0.15s ease;

	&:hover {
		cursor: pointer;
	}

	&:active {
		box-shadow: none;
	}

	&--full {
		width: 100%;
	}

	&--add-to-cart {
		color: $neutral-50;
		background-color: $blue-700;
		border-color: $blue-500;

		&:hover {
			border-color: $blue-700;
		}
	}

	&--neutral {
		color: $neutral-700;
		background-color: $neutral-200;
		border-color: $neutral-500;

		&:hover {
			border-color: rgba($neutral-500, 0.5);
		}
	}

	&--submit {
		color: $neutral-50;
		background-color: $green-700;
		border-color: $green-500;

		&:hover {
			border-color: $green-700;
		}
	}
}