//*Layout*

.body-content {
  margin-top: 66px;
}

//*Utilities*

.truncate {
  display: -webkit-box;
  line-clamp: 2;
  // number of lines
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  @media (min-width: 769px) {
    line-clamp: 5;
    // number of lines
    -webkit-line-clamp: 5;
  }
}

.full-viewport--1280 {
  width: min(100vw, 1280px);
  margin-left: max((100% - 100vw)/2, (100% - 1280px)/2);
  margin-right: max((100% - 100vw)/2, (100% - 1280px)/2);
}

//*Components*

.movie-card {
  &--rounded-top-left {
    border-top-left-radius: var(--bs-border-radius) !important;
  }
}
