<% include ../partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to YelpCamp!</h1>
			<p>View the scariest campgrounds from all over the world!</p>
			<p>
				<a href="/campgrounds/new" class="btn btn-lg btn-primary">Add new campground</a>
			</p>
		</div>
	</header>

	<div class="row text-center"> <!-- style="display: flex; flex-wrap: wrap;" -->
		<div class="col-lg-12">
			<h3>Our spookiest campgrounds!</h3>
		</div>
		<% campgrounds.forEach(campground => { %>
			<div class="col-md-3 col-sm-6">
				<div class="thumbnail">
					<img src="<%= campground.image %>" alt="camp">
					<div class="cpation">
						<h4><%= campground.name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }) %>
	</div>

</div>


<% include ../partials/footer %>