<h1>This is the secret page</h1>

<p>You found me</p>

<img src="https://media.giphy.com/media/1AIeYgwnqeBUxh6juu/giphy.gif" alt="eww">


<li><a href="/register">Sign Up</a></li>

<li><a href="/logout">Logout</a></li>